@font-face {
  font-family: 'socialico';
  src: url('../../assets/fonts/Socialico.woff2') format('woff2'),
       url('../../assets/fonts/socialico.woff') format('woff'),
       url('../../assets/fonts/socialico.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}